.container {
  ul {
    justify-content: center;
    li {
      padding: 2px;
    }
  }
  .css-sort {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span:nth-child(2) {
      cursor: pointer;
      padding: 0 0 3px;
    }
  }
  .group-btn {
    display: flex;
    // justify-content: space-between;
    gap: 5px;
    .btn {
      display: flex;
      gap: 5px;
      justify-content: center;
      align-items: center;
    }
  }
  .btn-add {
    // display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .customize-table {
    width: inherit;
    overflow-x: auto;
    .fixed-mobile {
      // display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
